<div class="introbox">
  <div class="intro_icons">
    <div class="si_bubble">
    <!-- <h2>sign in</h2> -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, :placeholder => "email",class: 'em_entry entryfirst' %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", :placeholder => "password",class: 'em_entry' %>
          </div>


          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: 'field_text' %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "let's go!", class: 'si_button' %>
          </div>
        <% end %>

        <div class="siu_bott"><%= render "devise/shared/links" %></div>
  </div>
    <div class="eye_intro_1"></div>
    <div class="me_intro_2"></div>
    <div class="up_intro_1"></div>
  </div>
</div>